/* select all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    background-color:rgb(234, 234, 234);
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
/* header, main, footer */
header, main, footer {
    min-width: 100vw;
   
}
/* header */
header {
    display:inline-flex;
    justify-content:space-between;
}
.logo {
    width: 8em
}
h2{
    color:slateblue;
    text-align-last: center;
}
 
h4{
    text-align-last: center;
    
}
 
p{
    text-align-last: center;
}
 
ul{
    text-align-last: center;
 
}

/* images */
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1;
}

/* Navbar */
.menu-list {
    display:list-item;
    list-style:none;
}
.menu-list li {
    padding: 0 10p;
}

form{
    text-align-last: center;
}


